<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="Stay Peace"
	annotations="JDK" parallel="tests">
	<test name="HMS Automation Test">
		<classes>
			<class name="com.hms.qa.tests.SignUpTest" />
			<class name="com.hms.qa.tests.LoginPageTest" />
			<class name="com.hms.qa.tests.CreateNewHostelTest" />
			<class name="com.hms.qa.tests.AddUserPageTest" />
		</classes>
	</test>
</suite>